.env
/vdomarkas/*
!/vdomarkas/wp-content/
/vdomarkas/wp-content/*
!/vdomarkas/wp-content/themes/
/vdomarkas/wp-content/themes/*
!/vdomarkas/wp-content/themes/dom-theme/
/vdomarkas/wp-content/plugins/*
!/vdomarkas/wp-content/plugins/dom-blocks/

